@using FinalSchoolProject.ViewModels
@model IEnumerable<CustomerWithAddressVM>
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Registrovaní zákazníci</h1>
        <a class="btn btn-success btn-sm success-action-btn" asp-action="Create">Nový zákazník</a>
    </div>

    <table class="table table-striped">
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Společnost</th>
                <th scope="col">Kontakty</th>
                <th scope="col">Adresa</th>
                <th scope="col" class="text-center">Akce</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        <div><strong>@item.CompanyName</strong></div>
                        <div>IČO: @item.CIN</div>
                        <div>DIČ: @item.TIN</div>
                        <div>Registrace: @item.RegistrationDate.ToShortDateString()</div>
                    </td>
                    <td>
                        <div>Email: @item.Email</div>
                        <div>Tel: @item.Phone</div>
                    </td>
                    <td>
                        <div>@item.Street @item.HouseNumber / @item.StreetNumber</div>
                        <div>@item.City, @item.PostalCode</div>
                        <div>@item.Region, @item.Country</div>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-warning btn-sm action-btn mb-1" asp-action="Edit" asp-route-id="@item.Id">Upravit</a><br />
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Opravdu smazat zákazníka #@item.Id?');">
                            <button type="submit" class="btn btn-danger btn-sm action-btn">Smazat</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>