@model RoleEdit
@{
	ViewData["Title"] = "UPDATE ROLE";
}
<div class="container">
	<h1>Upravit roli</h1>
	<a asp-action="Index" class="btn btn-sm btn-secondary">Zpět</a>
	<div asp-validation-summary="All" class="text-danger"></div>
	<form method="post">
		<input type="hidden" name="roleName" value="@Model.Role.Name" />
		<input type="hidden" name="roleId" value="@Model.Role.Id" />
		<h3>Add To @Model.Role.Name</h3>
		<table class="table table-bordered table-sm">
			@if (Model.NonMembers.Count() == 0)
			{
				<tr><td colspan="2">All Users Are Members</td></tr>
			}
			else
			{
				@foreach (AppUser user in Model.NonMembers)
				{
					<tr>
						<td>@user.UserName</td>
						<td>
							<input type="checkbox" name="AddIds" value="@user.Id">
						</td>
					</tr>
				}
			}
		</table>
		<h4 class="p-1">Remove From @Model.Role.Name</h4>
		<table class="table table-bordered table-sm custom-table-margin">
			@if (Model.Members.Count() == 0)
			{
				<tr><td colspan="2">No Users Are Members</td></tr>
			}
			else
			{
				@foreach (AppUser user in Model.Members)
				{
					<tr>
						<td>@user.UserName</td>
						<td>
							<input type="checkbox" name="DeleteIds" value="@user.Id">
						</td>
					</tr>
				}
			}
		</table>
		<button type="submit" class="btn btn-sm btn-warning confirm-btn mt-0">Uložit</button>
	</form>
</div>