@using FinalSchoolProject.DTO
@using System.Globalization
@model IEnumerable<OrderDTO>
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Přijaté objednávky</h1>
        <a class="btn btn-success btn-sm success-action-btn" asp-action="Create">Nová objednávka</a>
    </div>

    <table class="table table-striped">
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Přijato</th>
                <th scope="col">Termín</th>
                <th scope="col">Zbývá dnů</th>
                <th scope="col">Status</th>
                <th scope="col">Společnost</th>
                <th scope="col">Předmět objednávky</th>
                <th scope="col" class="text-end">Cena</th>
                <th scope="col" class="text-center">Detaily</th>
                <th scope="col" class="text-center">Smazat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Accepted.ToShortDateString()</td>
                    <td>@item.Deadline.ToShortDateString()</td>
                    <td>@item.DaysLeft</td>
                    <td>@item.StatusName</td>
                    <td>@item.CompanyName</td>
                    <td>@item.Title</td>
                    <td class="text-end">@item.TotalPrice Kč</td>
                    <td class="text-center">
                        <a class="btn btn-warning btn-sm action-btn" asp-action="Edit" asp-route-id="@item.Id">Detail</a>
                    </td>
                    <td class="text-center">
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Opravdu smazat objednávku #@item.Id?');">
                            <button type="submit" class="btn btn-danger btn-sm action-btn">Smazat</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
