@using FinalSchoolProject.DTO
@using System.Globalization
@model IEnumerable<OrderDTO>
<div>
    <div class="row my-2">
        <div class="col-4">
        </div>
        <div class="col-20 d-flex justify-content-center">
            <h4>PŘIJATÉ OBJEDNÁVKY</h4>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <a class="btn btn-success" asp-action="Create">Nová objednávka</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1">
        <h6>ID</h6>
    </div>
    <div class="col-2"> 
        <h6>PŘIJATO</h6>
    </div>
    <div class="col-2">
        <h6>TERMÍN</h6>
    </div>
    <div class="col-2">
        <h6>ZBÝVÁ DNŮ</h6>
    </div>
    <div class="col-2">
        <h6>STATUS</h6>
    </div>
    <div class="col-3">
        <h6>SPOLEČNOST</h6>
    </div>
    <div class="col-10">
        <h6>PŘEDMĚT OBJEDNÁVKY</h6>
    </div>
    <div class="col-2 d-flex justify-content-end">
        <h6>CENA</h6>
    </div>
    <div class="col-2">
        @* <h6>DETAIL</h6> *@
    </div>
    <div class="col-2">
        @* <h6>SMAZAT</h6> *@
    </div>
</div>
<hr />
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-1">
            <p>@item.Id</p>
        </div>
        <div class="col-2">
            <p>@item.Accepted.ToShortDateString()</p>
        </div>
        <div class="col-2">
            <p>@item.Deadline.ToShortDateString()</p>
        </div>
        <div class="col-2">
            <p>@item.DaysLeft</p>
        </div>
        <div class="col-2">
            <p>@item.StatusName</p>
        </div>
        <div class="col-3">
            <p>@item.CompanyName</p>
        </div>
        <div class="col-10">
            <p>@item.Title</p>
        </div>
        <div class="col-2">
            <p class="text-end">@item.TotalPrice Kč</p>
        </div>
        <div class="col-2 d-flex justify-content-center">
            <a class="btn btn-warning" asp-action="Edit" asp-route-id=@item.Id>Detail</a> @*bude chtít doladit*@
        </div>
        <div class="col-2 d-flex justify-content-center">
            <form style="display:inline" method="post">
                @*bude chtít doladit*@
                <input class="btn btn-danger" asp-action="Delete" asp-route-id=@item.Id type="submit" value="Smazat" />
            </form>
        </div>
        <hr />
    </div>
}
