@using FinalSchoolProject.DTO
@using System.Globalization
@model IEnumerable<OrderDTO>
<div>
    <div class="row">
        <div class="col-5">
            <h3>Přehled všech objednávek</h3>
        </div>
        <div class="col-2">
            <a class="btn btn-success" asp-action="Create">Create</a>
        </div>
        <div class="col-3"></div>
    </div>
</div>
@* 1, 2, 2, 1, 13, 3, 1, 1 *@
<div class="row">
    <div class="col">
        <h6>ID</h6>
    </div>
    <div class="col"> 
        <h6>PŘIJATO</h6>
    </div>
    <div class="col">
        <h6>TERMÍN</h6>
    </div>
    <div class="col">
        <h6>ZBÝVÁ DNŮ</h6>
    </div>
    <div class="col">
        <h6>STATUS</h6>
    </div>
    <div class="col-13">
        <h6>PŘEDMĚT OBJEDNÁVKY</h6>
    </div>
    <div class="col">
        <h6>CENA</h6>
    </div>
    <div class="col">
        <h6>DETAIL</h6>
    </div>
    <div class="col">
        <h6>SMAZAT</h6>
    </div>
</div>
<hr />
@foreach (var item in Model)
{
    <div class="row">
        <div class="col">
            <p>@item.Id</p>
        </div>
        <div class="col">
            <p>@item.Accepted.ToShortDateString()</p>
        </div>
        <div class="col">
            <p>@item.Deadline.ToShortDateString()</p>
        </div>
        <div class="col">
            <p>@item.DaysLeft</p>
        </div>
        <div class="col">
            <p>@item.StatusName</p>
        </div>
        <div class="col-13">
            <p>@item.Title</p>
        </div>
        <div class="col align-items-end">
            <p>@item.TotalPrice.ToString("N", new CultureInfo("cs-CZ")) Kč</p>
        </div>
        <div class="col">
            <a class="btn btn-warning" asp-action="Edit" asp-route-id=@item.Id>Edit</a> @*bude chtít doladit*@
        </div>
        <div class="col">
            <form style="display:inline" method="post">
                @*bude chtít doladit*@
                <input class="btn btn-danger" asp-action="Delete" asp-route-id=@item.Id type="submit" value="Delete" />
            </form>
        </div>
        <hr />
    </div>
}




@*
    z magistrů:
@using FinalSchoolProject.DTO
@model IEnumerable<OrderDTO>
<h1>List of all orders</h1>
@foreach (var item in Model)
{
    <div class="border border-1 border-dark p-2 ">
        <h5>@item.FirstName @item.LastName</h5>
        Id: @item.Id
        <p>Date of Birth: @item.DateOfBirth.ToShortDateString()</p>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id=@item.Id>Edit</a>
        <form style="display:inline" method="post">
            <input class="btn btn-danger" asp-action="Delete" asp-route-id=@item.Id type="submit" value="Delete" />
        </form>
    </div>
}
<hr />
<div>
    <a class="btn btn-success" asp-action="Create">Create</a>
</div> *@
